%h2 Twoje konto

%table.table
  %tr
    %td Imię i nazwisko:
    %td= "#{@user.firstname} #{@user.lastname}"
  %tr
    %td Adres email:
    %td= @user.email
  %tr
    %td Data rejestracji:
    %td= @user.created_at.to_date
  %tr
    %td Telefon:
    %td= @user.phone
    
=render file: '/devise/registrations/edit'
= link_to 'Zmień hasło', edit_user_registration_path, class: 'btn btn-default'