%h2= "Dodaj firmę klienta: #{company_owner}"

= simple_form_for [@client, @company] do |c|
	= c.input :name, label: 'Nazwa firmy'
	= c.input :end_date, label: 'Data zakończenia umowy'
	= c.input :description, label: 'Opis firmy'
	%p Adres:
	= c.simple_fields_for :address, html: { class: 'form-horizontal' } do |addr|
		= addr.input :street, label: 'Ulica'
		= addr.input :zip_code, label: 'Kod pocztowy'
		= addr.input :city, label: 'Miasto'
		= addr.input :voivodeship, collection: Address::VOIS , label: 'Województwo'
	= c.submit 'Dodaj firmę'
	= link_to 'Wróć', client_path(@client)