!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Firmowo24.pl
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %ul.nav.nav-tabs
        %li= link_to 'Twoje konto'
        %li.active= link_to 'Klienci', clients_path
        %li= link_to 'Zadania'
        %li= link_to 'Powiadomienia'
    .container
      .col-md-9
        = yield
      .col-md-3
        %h3 Ostatnia aktywność
        %ul
          %li Damian dodał Damiana
          %li Batek dodał Bartka
          %li yyy O.o
