!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Firmowo24.pl
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      - if crm_user_signed_in?
        %ul.nav.nav-tabs.col-md-10
          %li= link_to 'Twoje konto'
          %li= link_to 'Klienci', clients_path
          %li= link_to 'Zadania'
          %li= link_to 'Powiadomienia'
        %ul.nav.nav-tabs.col-md-2
          %li= link_to 'Wyloguj', destroy_crm_user_session_path, method: :delete
      - else
        %ul.nav.nav-tabs
          %li{class: ('active' if params[:controller] == 'devise/sessions')}= link_to 'Logowanie', new_crm_user_session_path
          %li{class: ('active' if params[:controller] == 'devise/passwords')}= link_to 'Odzyskiwanie hasła', new_password_path(resource_name)
          
    .container
      .col-md-12
        = content_tag(:div, flash[:notice], class: ('alert alert-info')) if flash[:notice]
        = content_tag(:div, flash[:error], class: ('alert alert-danger')) if flash[:danger]
      .col-md-9
        = yield
      .col-md-3
        %h3 Ostatnia aktywność
        %ul
          %li Damian dodał Damiana
          %li Batek dodał Bartka
          %li yyy O.o
