!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Simple CRM
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      - unless logged_in?
        %ul.nav.nav-tabs
          %li{class: ('active' if params[:controller] == 'sessions')}= link_to 'Logowanie', login_path
      - else
        %ul.nav.nav-tabs.col-md-9
          %li= link_to 'Twoje konto', account_path(current_user)
          %li= link_to 'Klienci', clients_path
          %li= link_to 'Użytkownicy', accounts_path
          %li= link_to 'Zadania'
        %ul.nav.nav-tabs.col-md-3
          %li= link_to current_user.full_name, account_path(current_user.account)
          %li= link_to 'Wyloguj', logout_path, method: :delete

    .container
      .col-md-12
        = content_tag(:div, flash[:notice], class: ('alert alert-info')) if flash[:notice]
        = content_tag(:div, flash[:alert], class: ('alert alert-danger')) if flash[:alert]
      .col-md-9
        = yield
      - if logged_in?
        .col-md-3
          %h3 Ostatnia aktywność
          %ul.activities
            - @activities.each do |a|
              %li{class: a.trackable_type.downcase}
                %p
                  = a.created_at.strftime("%d.%m.%Y %R")
                  %br
                  = activity(a.owner_id, a.key, a.parameters)
            
