%h2 Lista użytkowników

= link_to 'Dodaj konto użytkownika', new_account_path if is_admin?

%table.table.table-striped.table-hover
  %tr 
    %th Imie i nazwisko
    %th Email
    %th Data Dodania
    %th Więcej
  - @accounts.each do |account|
    %tr
      %td= account.user.full_name
      %td= account.email
      %td= account.created_at.to_date
      %td= link_to content_tag(:span, '', class: 'glyphicon glyphicon-list-alt'), account_path(account)
    