%h2 
  Dane dodatkowe -
  %i= @company.name
  
.col-md-3
  %p
    = link_to 'Wróć', client_company_path(@client, @company), class: 'btn btn-default'
.col-md-9
  %p
    Dodaj informację
    = simple_form_for [@client, @company, @info], html: { class: 'form-inline' } do |i|
      = i.input :info_type, collection: Info::INFO_TYPES, selected: Info::INFO_TYPES.first, label: 'Typ'
      = i.input :value, label: 'Wartość'
      = i.submit 'Dodaj'

- unless @infos.present?
  %p Brak dodatkowych informacji
- else
  %table.table.table-striped.table-hover.table-bordered
    - @infos.each do |info|
      %tr 
        %td= info.info_type
        %td= info.value
        %td.text-center= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), client_company_info_path(@client, @company, info), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć kontakt?'}
  